<div class="text-center">

    <h1>Задания в этой части модуля</h1>

    <h3>Задание 1</h3>
    <p>
        Создайте иерархию классов животных. Каждый класс 
    должен хранить данные для конкретного животного. 
    Создайте методы для отображения названия животного
    и звука, который оно издаёт. Обратите внимание, 
    что название животного может отображаться на экран 
    или в файл. Такое же поведение и у звука. Он может 
    отображаться на экран или в файл. Используйте принципы 
    Inversion of Control и Dependency Injection в коде 
    этой программы.
    </p>
    <h4>Дополнение к 1 заданию</h4>
    <p>
        Добавьте к первому заданию возможность сохранения 
    массива животных в файл. Также добавьте возможность 
    загрузки массива животных из файла. Обязательно реализуйте 
    возможность сохранения в разных форматах и 
    загрузку из разных форматов файла. Используйте принципы 
    Inversion of Control и Dependency Injection в коде 
    этой программы.
    </p>

    <h3>Задание 2</h3>
    <p>
        Создайте иерархию классов геометрических фигур. 
    Каждый класс должен хранить данные для конкретной 
    фигуры. Создайте методы для отображения названия фигуры 
    и её визуального отображения. Обратите внимание, 
    что название фигуры может отображаться на экран или в 
    файл. Такое же поведение и у визуального отображения. 
    Оно может отображаться на экран или в файл. Используйте 
    принципы Inversion of Control и Dependency Injection в 
    коде этой программы.
    </p>
    <h4>Дополнение к 2 заданию</h4>
    <p>
        Добавьте ко второму заданию возможность сохранения 
    массива фигур в файл. Также добавьте возможность 
    загрузки массива фигур из файла. Обязательно реализуйте 
    возможность сохранения в разных форматах и загрузку 
    из разных форматов файла. Используйте принципы 
    Inversion of Control и Dependency Injection в коде этой 
    программы.
    </p>
</div>