@using ASP_NET_HW_Module_02_part_01.Models;

<div class="text-center">

    <h1>Решение 2</h1>

</div>

<form method="post">
<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr>
            <th>Название фигуры</th>
            <th>Отображение фигуры</th>
        </tr>
    </thead>
    
    <div>
        @if (Model == null)
        {
            <tr>
                <td colspan="2" class="text-center">Нет данных</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                @for(int i=0; i<item.Key.Count; i++)
                {
                    <tr>
                        <td><input type="text" name="Name" value="@item.Key[i]"/></td>
                        <td><input type="text" name="Visual" value="@item.Value[i]"/></td>
                    </tr>
                }
            }
        }
        <td></td>
        <td><input type="submit" value="Save" asp-page-handler="Create" /></td>
    </div>
</table>
</form>