<div class="text-center">

    <h1>Решение 1</h1>

</div>

<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr>
            <th>Название животного</th>
            <th>Звук животного</th>
        </tr>
    </thead>

    <tbody>
        @if (Model == null)
        {
            <tr>
                <td colspan="2" class="text-center">Нет данных</td>
            </tr>
        }
        else
        {
            @foreach (var animal in Model)
            {
                <tr>
                    <td>@animal.ShowTitle()</td>
                    <td>@animal.ShowSound()</td>
                </tr>
            }
        }
    </tbody>
</table>

<form method="post">
     <button type="submit" asp-page-handler="SaveFile">Save</button>
</form>
